    <h3>お気に入りのイベント</h3>
    <table>
      <thead>
          <tr>
            <th>削除</th>
            <th>タイトル</th>
            <th>価格</th>
          </tr>
      </thead>
      <tbody>
        <!--<#% @user.books.each do |book| %>-->
        <!--  <tr>-->
        <!--    <td><#%= book.name %></td>-->
        <!--    <td><#%= book.price %></td>-->
        <!--  </tr>-->
        <!--<#% end %>-->
      </tbody>
    </table>